.kampus {
    color: aqua(6, 255, 6);
}

.kampus:hover {
    font-family: arial;
    font-size: 20px;
    color: pink;
}

.kampus:active {
    font-style: italic;
}

.kampus:visited {
    color:blueviolet;
}